<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beautifulharborbackstage.dao.mapper.ConsumptionMapper" >
    <resultMap id="ConsumptionResultDTO" type="com.beautifulharborbackstage.pojo.dto.ConsumptionResultDTO" >
        <id column="consumptionId" property="consumptionId" jdbcType="BIGINT" />
        <result column="consumptionDate" property="consumptionDate" jdbcType="DATE" />
        <result column="consumptionMoney" property="consumptionMoney" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="integral" property="integral" jdbcType="BIGINT" />
        <result column="consumptionStatus" property="consumptionStatus" jdbcType="TINYINT" />
        <result column="consumptionStorefront" property="consumptionStorefront" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Transaction_List" >
        consumptionId , consumptionDate, consumptionMoney , consumptionStatus ,userId,realName,consumptionStorefront
    </sql>

    <select id="selectConsumptionList" resultMap="ConsumptionResultDTO" parameterType="com.beautifulharborbackstage.pojo.dto.ConsumptionDTO">
        SELECT
        consumptionId , consumptionDate, consumptionMoney , consumptionStatus ,c.userId,t2.realName,c.integral,s.projectName,consumptionStorefront
        FROM consumption c LEFT JOIN (select ud.realName,u.userId from user u join user_details ud on u.userCode = ud.userCode) t2 on c.userid=t2.userId left join service_items s on c.projectId = s.projectId
        <where>
            1 = 1
            <if test="startDate != null and endDate != null">
                and consumptionDate &gt;= #{startDate} and consumptionDate &lt;= #{endDate}
            </if>
            <if test="realName != null and realName != ''">
                and t2.realName like CONCAT('%',#{realName},'%')
            </if>
        </where>
    </select>

    <insert id="addConsumption" parameterType="com.beautifulharborbackstage.pojo.dto.ConsumptionDTO">
        INSERT INTO
            consumption
            (consumptionDate,consumptionMoney,consumptionStatus,userId,integral,projectId,consumptionStorefront)
        VALUES
            (#{consumptionDate},#{consumptionMoney},#{consumptionStatus},#{userId},#{integral},#{projectId},#{consumptionStorefront})
    </insert>

    <select id="selectSlotStorefront" resultMap="ConsumptionResultDTO" >
        SELECT sum(consumptionMoney) consumptionMoney,consumptionStorefront FROM consumption
        where 1 = 1 and consumptionStatus = 1
        group by consumptionStorefront
        order by consumptionMoney desc
    </select>
</mapper>