<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beautifulharborbackstage.dao.mapper.ServiceItemsMapper" >
    <resultMap id="ServiceItemsResultDTO" type="com.beautifulharborbackstage.pojo.dto.ServiceItemsResultDTO" >
        <id column="projectId" property="projectId" jdbcType="BIGINT" />
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="ServiceItems_List" >
        projectId,projectName
    </sql>

    <select id="getManProjectList" resultMap="ServiceItemsResultDTO">
        SELECT
        <include refid="ServiceItems_List" />
        FROM service_items
        <where>
            1 = 1
            and sex = 'MAN'
        </where>
    </select>

    <select id="getWemanProjectList" resultMap="ServiceItemsResultDTO">
        SELECT
        <include refid="ServiceItems_List" />
        FROM service_items
        <where>
            1 = 1
            and sex = 'WEMAN'
        </where>
    </select>

</mapper>