<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beautifulharborbackstage.dao.mapper.ServiceItemsMapper" >
    <resultMap id="ServiceItemsResultDTO" type="com.beautifulharborbackstage.pojo.dto.ServiceItemsResultDTO" >
        <id column="projectId" property="projectId" jdbcType="BIGINT" />
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
        <result column="isClose" property="isClose" jdbcType="INTEGER" />
    </resultMap>

    <sql id="ServiceItems_List" >
        projectId,projectName
    </sql>

    <select id="getManProjectList" resultMap="ServiceItemsResultDTO">
        SELECT
        <include refid="ServiceItems_List" />
        FROM service_items
        <where>
            1 = 1
            and sex = 'MAN' and isClose = 0
        </where>
    </select>

    <select id="getWemanProjectList" resultMap="ServiceItemsResultDTO">
        SELECT
        <include refid="ServiceItems_List" />
        FROM service_items
        <where>
            1 = 1
            and sex = 'WEMAN' and isClose = 0
        </where>
    </select>

    <select id="getProjectList" resultMap="ServiceItemsResultDTO">
        SELECT
        projectId,projectName,isClose
        FROM service_items
    </select>

    <update id="updateStatusById" parameterType="com.beautifulharborbackstage.pojo.dto.ServiceItemsDTO" >
        UPDATE
        service_items
        SET
        <if test="isClose != null">
            isClose = #{isClose}
        </if>
        <where>
            <if test="projectIds != null">
                projectId in
                <foreach item="projectId" index="index" collection="projectIds" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
        </where>
    </update>

    <insert id="addServiceItem" parameterType="com.beautifulharborbackstage.pojo.dto.ServiceItemsDTO" >
        INSERT INTO
            service_items
            (projectName,sex,isClose)
        VALUES
            <if test="projectName != null and projectName != ''">
                (#{projectName}, #{sex},#{isClose})
            </if>
    </insert>

    <update id="updateNameById" parameterType="com.beautifulharborbackstage.pojo.dto.ServiceItemsDTO" >
        UPDATE
        service_items
        SET
        <if test="projectName != null and projectName != ''">
            projectName = #{projectName}
        </if>
        <where>
            <if test="projectIds != null">
                projectId in
                <foreach item="projectId" index="index" collection="projectIds" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
        </where>
    </update>

    <select id="getProjectById" resultMap="ServiceItemsResultDTO" parameterType="com.beautifulharborbackstage.pojo.dto.ServiceItemsDTO">
        SELECT
        projectId,projectName,isClose,sex
        FROM service_items
        <where>
            <if test="projectId != null">
                projectId = #{projectId}
            </if>
        </where>
    </select>

    <delete id="deleteProjectById" parameterType="com.beautifulharborbackstage.pojo.dto.ServiceItemsDTO">
        delete from service_items
        <where>
            <if test="projectIds != null">
                projectId in
                <foreach item="projectId" index="index" collection="projectIds" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>