<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beautifulharborbackstage.dao.mapper.TransactionMapper" >
    <resultMap id="TransactionResultDTO" type="com.beautifulharborbackstage.pojo.dto.TransactionResultDTO" >
        <id column="transactionId" property="transactionId" jdbcType="BIGINT" />
        <result column="transactionDate" property="transactionDate" jdbcType="DATE" />
        <result column="transactionMoney" property="transactionMoney" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="transactionStatus" property="transactionStatus" jdbcType="TINYINT" />
        <result column="transactionStorefront" property="transactionStorefront" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Transaction_List" >
        transactionId , transactionDate, transactionMoney , transactionStatus ,userId,realName,transactionStorefront
    </sql>

    <select id="selectTransactionMoney" resultType="java.lang.Object" parameterType="com.beautifulharborbackstage.pojo.dto.TransactionDTO">
        SELECT
        sum(transactionMoney)
        FROM transaction
        where 1 = 1 and transactionStatus = 1 and transactionDate between #{startDate} and #{endDate}
    </select>

    <select id="selectTransactionList" resultType="com.beautifulharborbackstage.pojo.dto.TransactionResultDTO" parameterType="com.beautifulharborbackstage.pojo.dto.TransactionDTO">
        SELECT
        transactionId , transactionDate, transactionMoney , transactionStatus ,t.userId,t2.realName,transactionStorefront
        FROM transaction t LEFT JOIN (select ud.realName,u.userId from user u join user_details ud on u.userCode = ud.userCode) t2 on t.userid=t2.userId
        <where>
            1 = 1
            <if test="startDate != null and endDate != null">
                and transactionDate &gt;= #{startDate} and transactionDate &lt;= #{endDate}
            </if>
            <if test="realName != null and realName != ''">
                and t2.realName like CONCAT('%',#{realName},'%')
            </if>
        </where>
    </select>

    <insert id="addTransaction" parameterType="com.beautifulharborbackstage.pojo.dto.TransactionDTO">
        INSERT INTO
            transaction
            (transactionDate,transactionMoney,transactionStatus,userId,transactionStorefront)
        VALUES
            (#{transactionDate},#{transactionMoney},#{transactionStatus},#{userId},#{transactionStorefront})
    </insert>


</mapper>